@import "../../Variables.css";

.section-main {
    // background-color: $orange;
    background-color: var(--orange);
    .main-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 20%;
        height: 732px;
        @media (max-width: 1401px) {
            gap: 15%;
        }
        @media (max-width: 1280px) {
            gap: 6%;        
        }
        @media (max-width: 1075px) {
            justify-content: center;
        }
        @media (max-width: 601px) {
            height: auto;
            padding: 0 20px 30px 20px;
        }   
        .main-left {
            h1 {
                margin: 90px 0 30px 0;
                font-size: 72px;
                font-weight: 700;
                text-align: center;    
                @media (max-width: 1170px) {
                    font-size: 60px;
                }   
                @media (max-width: 601px) {
                    margin: 40px 0 15px 0;
                }   
                @media (max-width: 500px) {
                    font-size: 40px;
                }  
            }
            h2 {
                font-size: 18px;
                font-weight: 400;
                text-align: center;
                @media (max-width: 500px) {
                    font-size: 16px;
                }  
            }
            .main-buttons {
                display: flex;
                gap: 8px;
                margin-top: 22px;
                justify-content: center;
                @media (max-width: 601px) {
                    flex-direction: column;
                    align-items: center;
                }   
                .buy-template {
                    padding: 20px 32px;
                    background-color: var(--black);
                    color: var(--white); 
                    @media (max-width: 601px) {
                        width: 80%;
                    }  
                }
                .other-template {
                    padding: 20px 32px;
                    background-color: var(--white);
                    color: var(--black);
                    @media (max-width: 601px) {
                        width: 80%;
                    }  
                }
            }
            .main-rating {
                margin-top: 160px;
                display: flex;
                flex-direction: column;
                align-items: center;
                @media (max-width: 601px) {
                    margin-top: 70px;
                }   
                .main-starts {
                    display: flex;
                    gap: 10px;
                }
                h3 {
                    margin-top: 20px;
                    width: 350px;
                    font-size: 20px;
                    font-weight: 700;
                    text-align: center;
                    @media (max-width: 500px) {
                        width: auto;
                        font-size: 16px;
                    }   
                }
                p {
                    margin-top: 16px;
                    @media (max-width: 601px) {
                        font-size: 15px;
                    }  
                    span {
                        // color: $grey;
                        color: var(--grey);
                    }
                }
            }
        }
        .main-right {
            @media (max-width: 1075px) {
                display: none;
            }   
            img {
                position: relative;
                top: -80px;
            }
        }
    }
}
