html, body, h1, h2, h3, p, span {
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

a, p, h1, h2, h3, span, li, button, input {
    font-family: 'Roboto';
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}